.content {
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    border-bottom: 4px solid #4FBDBA;
    border-top: 4px solid #4FBDBA;
}

.header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    line-height: 3;
}

.name,
.title {
    font-weight: 500;
    font-size: 1.1rem;
}

.body {
    padding: 1.5rem 0;
}

.btn {
    width: 200px;
    height: 40px;
    background-color: #252525;
    color: #eee;
    border: none;
    outline: none;
    border-radius: .5rem;
}


@media screen and (max-width : 998px) {
    .content {
        width: 100%;
    }
}